<!DOCTYPE html>
<!-- Setting the language of the document to english -->
<html lang="en">
<!-- The head of the document -->

<head>
  <!-- meta tag specifying UTF-8 as the character set with which this document is written. -->
  <meta charset="UTF-8" />
  <!-- This is the title that appears on the browsers tab -->
  <title>KYK</title>
  <!-- linking the external file containing the css -->
  <link rel="stylesheet" type="text/css" href="regist.css" />
</head>
<!-- Start of the body of the document -->

<body>
  <div class="top-nav-bar">
    <div class="search-box">
      <!-- <img src="images/logo.png" alt="" class="logo"> -->
      <input type="text" class="form-control">
      <span class="input-group-text"></span><i class="fa fa-search"></i></span>
    </div>

    <div class="menu-bar">
      <ul>
        <li><a href="#"><i class="fa fa-shopping-basket"></i>Cart</a></li>
        <li><a href="/register">Sign Up</a></li>
        <li><a href="/login">Log In</a></li>
      </ul>
    </div>
  </div>
  <!-- Start of main div of the document -->
  <div class="main">
    <!-- Start of form div -->
    <div class="login-form">
      <!-- Title of the form -->
      <h1>Landing Page</h1>
      <!-- Start of form for Landing page -->
      <form action="auth" method="POST">
        <a href="http://"></a>
        <input type="button" onclick="window.location.href='/register';" value="Signup" />
        OR
        <input type="button" onclick="window.location.href='/login';" value="Login" />
        <!-- End of form        -->
      </form>
      <!-- End of form div -->
    </div>
    <!-- End of parent div -->
  </div>
  <!-- <script src="regist.js"></script> -->
</body>
<!-- Close of html tag -->

</html>