<!DOCTYPE html>
<!-- Setting the language of the document to english -->
<html lang="en">
  <!-- The head of the document -->
  <head>
    <!-- meta tag specifying UTF-8 as the character set with which this document is written. -->
    <meta charset="UTF-8" />
    <!-- This is the title that appears on the browsers tab -->
    <title>KYK</title>
     <!-- linking the external file containing the css -->
    <link rel="stylesheet" type="text/css" href="regist.css" />
  </head>
  <!-- Start of the body of the document -->
  <body>
    <!-- Start of main div of the document -->
    <div class="main">
      <!-- Start of form div -->
      <div class="login-form">
        <!-- Title of the form -->
        <h1>Login Form</h1>
         <!-- Creating a login form with username and password input fields for
           a user to input the required data before loging in -->
        <form action="auth" method="POST">
            <input type="text" name="username" placeholder="Username" required />
            <input type="password" name="password" placeholder="Password" required/>
            <!-- submit button to submit the form -->
            <input type="submit">
            <!-- End of login form -->
        </form>
        <!-- End of form div -->
      </div>
      <!-- End of main/parent div -->
    </div>
    <!-- End of the body of the document -->
  </body>
  <!-- Closing of html tag -->
</html>
